{% load static %}
{% load bootstrap4 %}

<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hilfsangebote während der Corona-Krise</title>

    <!-- Bootstrap -->
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="{% static 'offers/jquery.datetimepicker.min.css' %}" />
    <script src="{% static 'offers/jquery.datetimepicker.full.min.js' %}"></script>

    <!-- Leaflet -->
    <link rel="stylesheet" href="{% static 'offers/leaflet.css' %}" />
    <script src="{% static 'offers/leaflet.js' %}"></script>

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'offers/styles.css' %}" />
</head>
<body class="{% block bodyclass %}{% endblock %}">
<div class="prototype-note">Nicht-offizieller Prototyp, nicht vom BMG angeboten!</div>

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'search' %}">
            <img src="{% static 'offers/images/BMG_Logo.png' %}" height="100"
                 class="d-inline-block align-top" alt="Bundesministerium für Gesundheit">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="nav navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Abmelden</a></li>
                    <li class="nav-item"><a href="{% url 'search' %}" class="nav-link">Suche</a></li>
                    <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link">Meine Angebote</a></li>
                    <li class="nav-item"><a href="{% url 'create_offer' %}" class="btn btn-primary">Biete deine Hilfe an</a></li>
                {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Anmelden</a></li>
                    <li class="nav-item"><a href="{% url 'register' %}" class="btn btn-primary">Biete deine Hilfe an</a></li>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<footer>
    <div class="container">
        &copy; 2020 mach2media &middot; <a href="{% url 'safety_information' %}">Sicherheits-Informationen</a>
    </div>
</footer>
</div>
</body>
</html>