{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Hilfsangebote während der Corona-Krise</title>

    <!-- jQuery -->
    <script src="{% static 'offers/jquery-3.4.1.slim.min.js' %}"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="{% static 'offers/jquery.datetimepicker.min.css' %}" />
    <script src="{% static 'offers/jquery.datetimepicker.full.min.js' %}"></script>

    <!-- Leaflet -->
        <link rel="stylesheet" href="{% static 'offers/leaflet.css' %}" />
    <script src="{% static 'offers/leaflet.js' %}"></script>

</head>
<body>
<h1>Hilfsangebote während der Corona-Krise</h1>

{% if user.is_authenticated %}
    <p>
        Hallo {{ user.username }}!
        <a href="{% url 'logout' %}">Abmelden</a>
    </p>
    <p>
        <a href="{% url 'search' %}">Suche</a> &middot;
        <a href="{% url 'offers' %}">Meine Angebote</a> &middot;
        <a href="{% url 'create_offer' %}">Neues Angebot</a>
    </p>
{% else %}
    <p>
        Du bist nicht angemeldet.
        <a href="{% url 'login' %}">Melde dich an</a> oder <a href="{% url 'register' %}">erstelle einen Account</a>,
        um ein Hilfsangebot einzustellen!
    </p>
    <p>
        <a href="{% url 'search' %}">Suche</a>
    </p>
{% endif %}
<hr />

{% block content %}
{% endblock %}
</body>
</html>