{% extends 'offers/base.html' %}
{% load bootstrap4 %}

{% block bodyclass %}bg-image{% endblock %}

{% block content %}
    <div class="container padding-top-1">
        <div class="search-form">
            <div class="inner-search">
                <h2>Deutschland steht zusammen. Finde Hilfe in der Corona-Krise</h2>

                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form.where }}
                    <div class="hidden-sm-up padding-top-1"></div>
                    {{ form.when }}
                    <div class="hidden-sm-up padding-top-1"></div>
                    <input type="submit" value="Suchen!" class="btn btn-primary">
                </form>

                <a href="{% url 'register' %}" class="offer-link btn btn-secondary">Oder biete jetzt deine Hilfe an!</a>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $("#id_when").datetimepicker({
                format: 'd.m.Y',
                timepicker: false
            });

            var images = ['static/offers/images/bild-1.jpg', 'static/offers/images/bild-2.jpg',
                'static/offers/images/bild-3.jpg', 'static/offers/images/bild-4.jpg','static/offers/images/bild-5.jpg',
                'static/offers/images/bild-6.jpg'
            ];
            var index = 0;
            var period = 10000;

            var cycle = function() {
                index = (index + 1) % images.length;
                $('body').css({'background-image': 'url("'+images[index]+'")'});
                setTimeout(cycle, period);
            };

            setTimeout(cycle, period);

            // prefetch images
            var curImg = new Image();
            var prefetchNext = function(i) {
                curImg.src = images[i];
                curImg.onload = function() {
                    if (i < images.length - 1) {
                        prefetchNext(i+1);
                    }
                }
            };
            prefetchNext(1);
        });
    </script>
{% endblock %}