{% extends 'offers/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="bg-image">
    <div class="container padding-top-1">
        <div class="search-form">
            <div class="inner-search">
                <h2>{% trans "Deutschland steht zusammen. Finde Hilfe in der Corona-Krise" %}</h2>

                <form method="POST" action="">
                    {% csrf_token %}

                    {{ form.where }}
                    <a href="#" id="locate">
                        <img src="{% static 'offers/images/crosshair.png' %}"
                             alt="{% trans "Versuche mich zu orten" %}"
                             title="{% trans "Versuche mich zu orten" %}" />
                    </a>

                    <div class="hidden-sm-up padding-top-1"></div>

                    {{ form.when }}
                    <a href="#" id="today">
                        <img src="{% static 'offers/images/today-icon.png' %}" alt="{% trans "Heute" %}"
                        title="{% trans "Heute" %}" />
                    </a>

                    <div class="hidden-sm-up padding-top-1"></div>
                    <input type="submit" value="{% trans "Suchen!" %}" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="content-below-fold">
    <div class="container centering">
        <h2>{% trans "Deutschland Zusammen" %}</h2>

        <p>
            {% blocktrans trimmed %}
            Mit diesem Portal möchten wir helfenden und hilfesuchende Menschen die Möglichkeit geben einander zu
            finden. In Zeiten wie diesen ist es besonders wichtig, dass wir alle ein Stück zusammenrücken, um uns
            gegenseitig zu helfen. Wenn du Hilfe benötigst, gib oben einfach deinen Straßennamen und deinen Ort
            (z.B. "Musterstraße Beispielstadt") an, sowie das Datum an dem du suchst. Sofern du in der Lage
            bist, anderen Menschen deine Hilfe anzubieten,
            {% endblocktrans %}
            <br />
            <a href="{% url 'register' %}">{% trans "erstelle dir hier einen Account" %}.</a>
        </p>
    </div>
</div>

<script>
        $(function () {
            let whereField = $('#id_where');
            let whenField = $('#id_when');

            // datepicker for when field
            whenField.datetimepicker({
                format: 'd.m.Y',
                timepicker: false
            });

            // image slideshow
            var images = ['static/offers/images/bild-1.jpg', 'static/offers/images/bild-2.jpg',
                'static/offers/images/bild-3.jpg', 'static/offers/images/bild-4.jpg','static/offers/images/bild-5.jpg',
                'static/offers/images/bild-6.jpg'
            ];
            var index = 0;
            var period = 10000;

            var cycle = function() {
                index = (index + 1) % images.length;
                $('.bg-image').css({'background-image': 'url("'+images[index]+'")'});
                setTimeout(cycle, period);
            };

            setTimeout(cycle, period);

            // prefetch images
            var curImg = new Image();
            var prefetchNext = function(i) {
                curImg.src = images[i];
                curImg.onload = function() {
                    if (i < images.length - 1) {
                        prefetchNext(i+1);
                    }
                }
            };
            prefetchNext(1);

            // set date to today button
            $('#today').click(function () {
                var date = new Date();
                whenField.val((""+date.getDate()).padStart(2, "0") + "." + (""+(date.getMonth()+1)).padStart(2, "0") +
                    "." + date.getFullYear());
                return false;
            });

            // geolocation for where field
            $('#locate').click(function() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function success (position) {
                        updateWhereFieldWithAddress(position.coords.latitude, position.coords.longitude);
                    }, function error (error) {
                        switch(error.code) {
                            case error.PERMISSION_DENIED:
                                // do nothing
                                break;
                            case error.POSITION_UNAVAILABLE:
                                alert("{% trans "Standortdaten sind nicht verfügbar." %}");
                                break;
                            case error.TIMEOUT:
                                alert("{% trans "Die Standortabfrage dauerte zu lange (Time-out)." %}");
                                break;
                            case error.UNKNOWN_ERROR:
                                alert("{% trans "Unbekannter Fehler." %}");
                                break;
                        }

                    });
                } else {
                    alert("{% trans "Ihr Browser unterstützt keine Ortung." %}");
                }
            });

            var updateWhereFieldWithAddress = function(lat, lng) {
                $.get('{% url 'ajax_address' %}', {
                    lat: lat,
                    lng: lng
                }, function (address) {
                    $('#id_where').val(address);
                });
            };

            // address autocomplete
            var getAutocompleteOptions = function(query, callback) {
                $.get('{% url 'ajax_autocomplete' %}', {
                    q: query
                }, function (response) {
                    suggestions = JSON.parse(response);
                    suggestions = suggestions.slice(0, Math.min(5, suggestions.length));
                    callback(suggestions);
                });
            };
            whereField.autocomplete({
                source: function(request, response) {
                    getAutocompleteOptions(request.term, response)
                },
                minLength: 3
            });

            // address local storage
            let LOCAL_STORAGE_LAST_QUERY = 'lastLocationQuery';
            let LOCAL_STORAGE_LAST_DATE = 'lastDateQuery';

            whereField.change(function() {
                localStorage.setItem(LOCAL_STORAGE_LAST_QUERY, $(this).val());
            });
            if(localStorage.getItem(LOCAL_STORAGE_LAST_QUERY)) {
                whereField.val(localStorage.getItem(LOCAL_STORAGE_LAST_QUERY));

            }
            whenField.change(function() {
                localStorage.setItem(LOCAL_STORAGE_LAST_DATE, $(this).val());
            });
            if (localStorage.getItem(LOCAL_STORAGE_LAST_DATE)) {
                whenField.val(localStorage.getItem(LOCAL_STORAGE_LAST_DATE));
            }
        });
    </script>
{% endblock %}