{% extends 'offers/base.html' %}
{% load static %}
{% load template_tags %}
{% load i18n %}

{% block content %}
    <div class="container">
        <h2>{% trans "Impressum" %}</h2>

        <p class="company-logos">
            <a href="http://mach2media.de" target="_blank">
                <img src="{% static 'offers/images/M2M_small.png' %}" alt="mach2media" title="mach2media"
                     class="img-responsive "/>
            </a>
            <a href="https://lauinger-it.de" target="_blank">
                <img src="{% static 'offers/images/lauingerit.png' %}" alt="Lauinger IT Solutions"
                     title="Lauinger IT Solutions" class="img-responsive" />
            </a>
        </p>

        {% cms_page 'IMPRINT' %}

        <a href="{% url 'search' %}" class="btn btn-primary">{% trans "Zurück zur Startseite" %}</a>

        <div class="padding-top-1"></div>
    </div>
{% endblock %}