{% extends 'offers/base.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
        <h2>{% trans "Fehler beim Versenden der Nachricht!" %}</h2>

        <p>
            {% blocktrans trimmed %}
                Tut uns Leid, deine Nachricht konnte leider nicht versendet werden. Versuche es doch gleich nochmal, oder
                kontaktiere uns unter support (at) deutschlandzusammen (punkt) de.
            {% endblocktrans %}
        </p>

        <a href="{% url 'search' %}" class="btn btn-primary">{% trans "Zurück zur Startseite" %}</a>

        <div class="padding-top-1"></div>
    </div>
{% endblock %}