{% extends 'offers/base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <div class="container">
        {% if form.address.value %}
            <h2>{% trans "Bearbeite dein Profil" %}</h2>
        {% else %}
            <h2>{% trans "Schritt 2: Verrate uns noch ein paar Details über dich" %}</h2>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <input type="submit" value="{% trans "Speichern!" %}" class="btn btn-primary">
            {% endbuttons %}
        </form>
    </div>
{% endblock %}