{% extends 'offers/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
        {% if form.address.value %}
            <h2>Bearbeite dein Profil</h2>
        {% else %}
            <h2>Schritt 2: Verrate uns noch ein paar Details über dich</h2>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <input type="submit" value="Speichern!" class="btn btn-primary">
            {% endbuttons %}
        </form>
    </div>

    <script>
        $(function() {
            var getAutocompleteOptions = function(query, callback) {
                $.get('{% url 'ajax_autocomplete' %}', {
                    q: query
                }, function (response) {
                    suggestions = JSON.parse(response);
                    suggestions = suggestions.slice(0, Math.min(5, suggestions.length));
                    callback(suggestions);
                });
            };

            $('#id_address').autocomplete({
                source: function(request, response) {
                    getAutocompleteOptions(request.term, response)
                },
                minLength: 3
            });
        });
    </script>
{% endblock %}