{% extends 'offers/base.html' %}
{% load template_tags %}

{% block content %}
    {% if not user.profile.activated %}
        <div class="messages">
            <div class="message error">
                <div class="container">
                    Dein Account ist noch nicht aktiviert. Bis du auf den Bestätigungslink, den wir dir per Mail geschickt haben
                    geklickt hast, sind deine Angebote nicht öffentlich sichtbar.
                    <a href="{% url 'resend_activation_mail' %}">E-Mail erneut senden</a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2>{{ user.get_full_name }}</h2>
                <p>{{ user.profile.get_name_visibility_display }}</p>

                <h4>{% trans "Dein Standort" %}</h4>
                <p>
                    {{ user.profile.address }}<br />
                    <b>Umkreis:</b> {{ user.profile.get_radius_display }}
                </p>

                <h4>{% trans "Dein Angebot" %}</h4>
                <p>
                    {% trans "Einkaufen:" %} <b>{{ user.profile.offers_shopping|yesno }}</b><br />
                    {% trans "Gassi gehen:" %} <b>{{ user.profile.offers_petsitting|yesno }}</b><br />
                    {% trans "Medikamente abholen:" %} <b>{{ user.profile.offers_fetching_drugs|yesno }}</b><br />
                    {% trans "Briefe einwerfen:" %} <b>{{ user.profile.offers_sending_mail|yesno }}</b><br />
                    {% trans "Kurierdienste:" %} <b>{{ user.profile.offers_courier|yesno }}</b>
                    {% if user.profile.comment %}<br />{% trans "Sonstiges:" %} {{ user.profile.comment }}{% endif %}
                </p>

                <h4>{% trans "So erreichen dich Hilfesuchende" %}</h4>
                <p>
                    <b>{% trans "Telefonnummer:" %}</b> {{ user.profile.phone }} (öffentlich: <b>{{ user.profile.show_phone|yesno }})</b><br />
                    <b>{% trans "E-Mail-Adresse:" %}</b> {{ user.email }} (öffentlich: <b>{{ user.profile.show_email|yesno }})</b>
                </p>

                <h4>{% trans "Zusätzliche Angaben zu dir" %}</h4>
                <p>
                    <b>{% trans "Fortbewegungsmittel:" %}</b> {{ user.profile.get_mobility_display }}<br />
                    <b>{% trans "Geschlecht:" %}</b> {{ user.profile.get_gender_display }} (öffentlich: <b>{{ user.profile.show_gender|yesno }})</b>
                </p>

                <h4>{% trans "Zu diesen Zeiten kannst du Hilfe anbieten" %}</h4>
                {% if object_list %}
                    <p>
                        {% for offer in object_list %}
                            {{ offer.date }}:
                            {% if offer.morning %}{% trans "Morgens" %} {% endif %}
                            {% if offer.noon %}{% trans "Mittags" %} {% endif %}
                            {% if offer.afternoon %}{% trans "Nachmittags" %} {% endif %}
                            {% if offer.evening %}{% trans "Abends" %} {% endif %}
                            <br />
                        {% endfor %}
                    </p>
                {% else %}
                    <p>{% trans "Du hast bisher keine Angebote erstellt." %}</p>
                {% endif %}

                <a href="{% url 'edit_profile' user.profile.id %}" class="btn btn-primary">{% trans "Bearbeite dein Profil" %}</a>
                <a href="{% url 'offers' %}" class="btn btn-primary">{% trans "Bearbeite deine Zeiten" %}</a>
                <a href="{% url 'delete_user' user.id %}" class="btn btn-danger">{% trans "Profil löschen" %}</a>

                <div class="padding-top-1"></div>
                <div class="padding-top-1"></div>
            </div>
            <div class="col-sm">
                <div id="map" style="height: 600px; width: 100%;"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            var lat = "{{ user.profile.location.x|stringformat:"f" }}";
            var lon = "{{ user.profile.location.y|stringformat:"f" }}";

            var initialZoom = {{ user.profile.radius|get_zoom }};

            var map = L.map('map').setView([lat, lon], initialZoom);

            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: '{{ mapbox_api_token }}'
            }).addTo(map);

            L.marker([lat, lon]).addTo(map);

            var circle = L.circle([lat, lon], {
                color: 'blue',
                fillColor: '#30f',
                fillOpacity: 0.5,
                radius: {{ user.profile.radius }}
            }).addTo(map);
        });
    </script>
{% endblock %}