{% extends 'offers/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
        {% if form.address.value %}
            <h2>Bearbeite dein Profil</h2>
        {% else %}
            <h2>Verrate uns noch ein paar Details</h2>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <input type="submit" value="Speichern!" class="btn btn-primary">
            {% endbuttons %}
        </form>
    </div>
{% endblock %}