{% extends 'offers/base.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
        <h2>{% trans "Sicherheits-Informationen" %}</h2>

        <p>
            Deutschlandzusammen.de ist ein Portal, um Menschen zusammenzubringen, die Hilfe in der Corona-Krise
            benötigen oder anbieten können. Wie bei allen Diensten im Internet weißt du bis du dich mit der anderen
            Person triffst nie, ob dein Gegenüber sich für denjenigen ausgibt, der er wirklich ist.
        </p>
        <p>
            Halte nach Möglichkeit deine private Adresse geheim. Nur einer von euch beiden muss seine Adresse preis
            geben, damit ihr euch treffen könnt. Üblicherweise sollte dies derjenige sein, der Hilfe sucht. Als
            Anbieter gibst du zwar deine Adresse in deinem Profil an, diese wird aber nur für die Umkreissuche
            verwendet und nie öffentlich angezeigt. Gib daher auch nicht deine Adresse im Kommentarfeld für weitere
            Hilfsangebot in deinem Profil an. Tauscht die Adresse über private Nachrichten aus, am besten über die
            Nachrichtenfunktion von deutschlandzusammen.de.
        </p>
        <p>
            Wenn du deine Telefonnummer oder E-Mail-Adresse über dein Profil öffentlich machst, können dich
            Hilfesuchende deutlich schneller erreichen und du sparst dir Nachrichten mit Anfragen zu Zeiten, wo du
            vielleicht doch schon etwas anderes zu tun hast. Aber deine Daten sind dann öffentlich im Internet zu
            finden. Sei dir deshalb genau bewusst, dass du deine Daten veröffentlichst, und nutze im Zweifel lieber
            die integrierte Nachrichtenfunktion von deutschlandzusammen.de.
        </p>

        <a href="{% url 'search' %}" class="btn btn-primary">{% trans "Zurück zur Startseite" %}</a>
    </div>
{% endblock %}