html {
    height: 100.1%;
}

.padding-top-1 {
    padding-top: 1rem;
}
.padding-right-1 {
    padding-right: 1rem;
}
.h-100 {
    height: 100%;
}
.centering {
    text-align: center;
}
.display-none {
    display: none;
}

footer {
    min-height: 120px;
    width: 100%;
    padding: 2rem 0;
    margin-top: 1rem;
    background-color: #ddd;
}

.language-switcher {
    display: inline-block;
    vertical-align: middle;
}
.language-switcher #id_language {
    padding: 0 10px;
    margin-top: 3px;
    font-size: 0.8em;
}

.navbar {
    width: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

.bg-image {
    min-height: 100%;
    margin-top: -126px;
    padding-top: 126px;
    padding-bottom: 2rem;
    background-image: url('images/bild-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-below-fold {
    padding: 2rem 0 1rem 0;
}

.navbar-light {
    background-color: rgba(255, 255, 255, 0.8);
}

.messages {
    width: 100%;
    padding-bottom: 1rem;
}
.message {
    padding: 5px 0;
    background-color: #bbc4c8;
}
.message.success {
    background-color: #79dd50;
}
.message.error {
    background-color: red;
    color: white;
}
.message.error a {
    color: white;
    text-decoration: underline;
}
.message.error a:hover {
    text-decoration: none;
}

.search-form {
    text-align: center;
    padding-top: 100px;
}
.search-form .inner-search {
    min-height: 400px;
}
.search-form h2 {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 2rem;
}
.search-form input {
    height: 60px;
    font-size: 1.5rem;
    padding: 10px;
    max-width: 100%;
}
.search-form input[type=submit] {
    vertical-align: top;
    padding: 10px 30px;
    margin-top: 3px;
}
.search-form #id_when {
    width: 320px;
}
.search-form #today {
    margin-left: -64px;
    margin-top: 15px;
    vertical-align: middle;
    height: 60px;
    width: 60px;
    border: 0;
    display: inline-block;
    padding: 0;
}
.search-form #today img {
    width: 35px;
    height: 35px;
}
.search-form #id_where {
    width: 320px;
    padding-right: 60px;
}
.search-form #locate {
    margin-left: -64px;
    margin-top: 15px;
    vertical-align: middle;
    height: 60px;
    width: 60px;
    border: 0;
    display: inline-block;
    padding: 0;
}
.search-form #locate img {
    width: 35px;
    height: 35px;
}


.filter {
    padding-bottom: 1rem;
}

.search-results {
    list-style-type: none;
    padding: 0;
}
.search-results li {
    border: 1px solid #00dd1c;
    background-color: #d9ffdd;
    padding: 1rem;
    margin-bottom: 1rem;
}
.search-results li .name {
    font-size: 1.5em;
    font-weight: bold;
}
.search-results li .time {
    padding-bottom: 1rem;
}
.search-results li .distance {
    padding-bottom: 1rem;
}
.search-results li .offer {
    margin-top: 1rem;
    padding-bottom: 1rem;
}
.search-results li .send-message {
    padding-top: 1rem;
}

.profile-offer-time {
    padding-bottom: 1rem;
}

.offer-link {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

@media (min-width: 576px) {
    .hidden-sm-up {
        display: none;
    }
}
@media (max-width: 576px) {
    .search-form {
        padding-top: 20px;
    }
}

.prototype-note {
    width: 100%;
    padding: 5px;
    background-color: red;
    color: white;
}

.timetable {
    max-width: 100%;
}
.timetable td, .timetable th {
    padding: 5px 10px;
    text-align: center;
}
.timetable th {
    border-bottom: 2px solid black;
}
.timetable .heading th {
    background-color: #f7d100;
}
.timetable .date {
    text-align: right;
    border-right: 2px solid black;
}
.timetable .fullday {
    border-left: 1px solid black;
}
.timetable tbody tr:nth-child(even) {
    background-color: #f5edc4;
}
.timetable tbody tr:nth-child(odd) {
    background-color: #f5f1dc;
}
.timetable input[type=checkbox] {
    display: none;
}
.timetable input[type="checkbox"] + label::before {
    width: 22px;
    height: 18px;
    background-image: url("https://boolie.org/wp-content/uploads/2017/11/unchecked.png");
    display: block;
    content: "";
    float: left;
    margin-top: 5px;
}
.timetable input[type="checkbox"]:checked+label::before {
    background-image: url("https://boolie.org/wp-content/uploads/2017/11/checked.png");
}

.received-message {
    border: 1px solid #00dd1c;
    padding: 10px;
    margin-bottom: 1rem;
}
.received-message .date {
    font-family: 'Courier', monospace;
}

.company-logos img {
    max-height: 60px;
    margin-right: 1rem;
}