html {
    height: 100.1%;
}

.padding-top-1 {
    padding-top: 1rem;
}
.h-100 {
    height: 100%;
}

footer {
    height: 120px;
    width: 100%;
    padding: 2rem 0;
    margin-top: 1rem;
    background-color: #ddd;
}
body.bg-image footer {
    position: absolute;
    bottom: -120px;
}

.navbar {
    width: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

body.bg-image {
    background-image: url('images/bild-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-light {
    background-color: rgba(255, 255, 255, 0.8);
}

.search-form {
    text-align: center;
    padding-top: 100px;
}
.search-form .inner-search {
    min-height: 400px;
}
.search-form h2 {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 2rem;
}
.search-form input {
    height: 60px;
    font-size: 1.5rem;
    padding: 10px;
    max-width: 100%;
}
.search-form input[type=submit] {
    vertical-align: top;
    padding: 10px 30px;
}

.search-results {
    list-style-type: none;
    padding: 0;
}
.search-results li {
    border: 1px solid #00dd1c;
    background-color: #d9ffdd;
    padding: 1rem;
    margin-bottom: 1rem;
}
.search-results li .name {
    font-size: 1.5em;
    font-weight: bold;
}
.search-results li .time {
    padding-bottom: 1rem;
}
.search-results li .distance {
    padding-bottom: 1rem;
}
.search-results li .comment {
    padding-bottom: 1rem;
}
.search-results li .message {
    padding-top: 1rem;
}

.profile-offer-time {
    padding-bottom: 1rem;
}

.offer-link {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

@media (min-width: 576px) {
    .hidden-sm-up {
        display: none;
    }
}
@media (max-width: 576px) {
    .search-form {
        padding-top: 20px;
    }
}

.prototype-note {
    width: 100%;
    padding: 5px;
    background-color: red;
    color: white;
}