{% extends "offers/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <div class="container">
        {% if validlink %}
            <h1>{% trans 'Neues Passwort setzen' %}</h1>
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="{% trans 'Passwort ändern' %}" class="btn btn-primary">
            </form>
        {% else %}
            <p>
                {% blocktrans trimmed %}
                    Der Passwort-Zurücksetzen-Link war ungültig, möglicherweise wurde er schon benutzt. Setze dein
                    Passwort bitte erneut zurück.
                {% endblocktrans %}
            </p>
        {% endif %}
    </div>
{% endblock %}