{% extends "offers/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <div class="container">
        <h1>{% trans "Schritt 1: Erstelle jetzt deinen Account" %}</h1>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <input type="submit" value="{% trans "Registrieren!" %}" class="btn btn-primary">
            {% endbuttons %}
        </form>
    </div>
{% endblock %}