{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Hilfsangebote während der Corona-Krise</title>

    <!-- jQuery -->
    <script src="{% static 'offers/jquery-3.4.1.slim.min.js' %}"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="{% static 'offers/jquery.datetimepicker.min.css' %}" />
    <script src="{% static 'offers/jquery.datetimepicker.full.min.js' %}"></script>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>