{% extends 'base.html' %}

{% block content %}
    <h1>Hilfsangebote während der Corona-Krise</h1>

    {% if user.is_authenticated %}
        <p>
            Hallo {{ user.username }}!
            <a href="{% url 'logout' %}">Abmelden</a>
        </p>
        <p>

        </p>
    {% else %}
        <p>
            Du bist nicht angemeldet.
            <a href="{% url 'login' %}">Anmelden</a>, um ein Hilfsangebot einzustellen!
        </p>
    {% endif %}
    <hr />

    <h2>Angebote finden:</h2>
    <form method="POST" action="">
        {% csrf_token %}

        {{ form.where }}
        {{ form.when }}

        <input type="submit" value="Suchen!" />
    </form>

    <script>
        $(function () {
            $("#id_when").datetimepicker({
                format: 'd.m.Y H:i',
            });
        });
    </script>
{% endblock %}